.job-col {
  border: 1px solid black;
  display: table-cell;
  height: 1200px;
  width: 200px;
  padding: 0 5px;
}

.slot-container {
  position: relative;
}

.slot {
  position: absolute;
  border-width: 1px;
  border-style: solid;
  width: 100%;
}

.slot:hover {
  text-decoration: none;
}

.job-header {
  border-bottom: 1px solid black;
}

.job-table {
  border-collapse: collapse;
  display: table;
}

.time-block {
  height: 60px;
}
