.job-col {
  border: 1px solid black;
  /*display: table-cell;*/
  height: 230px;
  width: 1850px;
  padding: 0 5px;
}

.slot-container {
  position: relative;
  top: -200px;
}

.slot {
  top: -25px;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: 190px;
}

.slot:hover {
  text-decoration: none;
}

.job-header {
  white-space: normal;
  width: 100px;
  height: 230px;
  border-right: 1px solid black;
  z-index: 2000;
}

.job-table {
  border-collapse: collapse;
  display: table;
}

.time-block {
  padding-right: 75px;
}

.time-row {
  padding-left: 5px;
  margin-left: 99px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  z-index: 1001;
}

.crouching-tiger-hidden-label2{
    visibility: hidden;
    padding-right: 70px;
}

.judgeJ{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F4A460;
  border-radius: 10px;
}

#scrollable{
  white-space: nowrap;
  overflow-x: scroll;
  width: 1000px;
}

#fixedScroll2{
  white-space: nowrap;
  height: 190px;
  overflow-x: scroll;
}

#fixedScroll3{
  white-space: nowrap;
  height: 600px;
  width: 1000px;
  overflow-x: scroll;
}

.fixedTimeBar {
  position: fixed;
  z-index: 1000;
  background-color: white;
  border: 1px solid black;
  white-space:normal;

}
