<div class="job-table">
  <div class="time-col">
    <div class="crouching-tiger-hidden-label">Time</div>
    <div ng-repeat="time in timeArray" class="time-block">
      {{time}}
    </div>
  </div>

  <div ng-repeat="job in schedule.jobs" class="job-col">
    <div class="job-header">
      {{job.name}}
    </div>

    <div class="slot-container">
      <div ng-repeat="slot in job.slots" class="slot" ng-style="calculateSlotPosition(slot)">
        <div ng-repeat="volunteer in slot.assigned">
          {{volunteer.name}}
        </div>
      </div>
    </div>
  </div>
</div>
