.job-col
{
  width: 200px;
  height: 1200px;
  display: table-cell;
  border: 1px solid black;


}
.slot-spacing {
  position: relative;
}

.slot {
  position: absolute;
}

.job-header{
  border-bottom: 1px solid black;
}

.job-table{
  display: table;
  border-collapse: collapse;
}

.time-col{
  height: 50px;
}
