<form ng-submit="save()">
  <div class="form-group">
    <button type="submit" class="btn btn-success">Save and continue</button>
  </div>
</form>

<div class="row">
  <div class="col-sm-4">
    <div ng-repeat="job in schedule.jobs">
      <h4>{{ job.name }}</h4>

      <div class="list-group">
        <a class="list-group-item" ng-repeat="slot in job.slots" ui-sref="schedule.edit.assign({ job: job._id, slot: slot._id })" ui-sref-active="active">
          {{ timeRange(slot) }}
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div ui-view></div>
  </div>
</div>
