<div class="row">
  <div class="col-sm-6">
    <label for="job-selection">Job:</label>
    <select class="form-control" id="job-selection" ng-model="job" ng-options="job.name for job in schedule.jobs">
      <option value=""></option>
    </select>
  </div>

  <div class="col-sm-6" ng-if="job">
    <label for="slot-selection">Time slot:</label>
    <select class="form-control" id="slot-selection" ng-model="slot" ng-options="slot._id for slots in job">
      <option value="">{{ slot.start.hour }}</option>
    </select>
  </div>
</div>
