
<div class="row">
    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          Rename this Schedule
        </div>

        <div class="panel-body">

          <form class="form-inline" role="form">
            <input class="form-control" ng-model="nScheduleName" placeholder="New Schedule Name">
            <button type="submit" class="btn btn-warning" ng-click="changeScheduleName()">Change</button>
          </form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
         Make a copy of this schedule
        </div>

        <div class="panel-body">
          <button type="button" class="btn btn-success" ng-click="duplicateSchedule()">Duplicate Schedule</button>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Delete this Schedule
        </div>

        <div class="panel-body">
          <button type="button" class="btn btn-danger" ng-click="deleteSchedule()">Delete Schedule</button>
        </div>
      </div>


  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-primary" ng-click="emailAllVolunteers()" ><span class="glyphicon glyphicon-envelope"></span> Email All Volunteers</button>

    <br> <br>
    <h5>Email one volunteer:</h5>
    <div class="form-group" ng-show="schedule.unassigned.length">
      <input type="text" class="form-control" placeholder="Filter by name" ng-model="filter.name" />
    </div>

    <div class="list-group">
      <a class="list-group-item" ng-repeat="volunteer in schedule.unassigned | filter: filter | orderBy: 'name' track by $index" ng-click="open(volunteer)" ng-class="{ active: detail == volunteer }">
        {{ volunteer.name }}  <span ng-if="volunteer.isJudge" class="judgeJ">J</span><span ng-if="!volunteer.name">New Volunteer</span>
        <button ng-click="emailOneVolunteer(volunteer)" type="button" align = "right" class= "btn btn-xs btn-primary group-item-mail"><span class="glyphicon glyphicon-envelope"></span></button>
      </a>
      <div ng-repeat="job in schedule.jobs">
        <div ng-repeat="slot in job.slots">
          <a class="list-group-item hasJob" ng-repeat="volunteer in slot.assigned | filter: filter track by $index | orderBy: 'name'" ng-click="open(volunteer)" ng-class="{ active: detail == volunteer }">
            {{ volunteer.name }}  <span ng-if="volunteer.isJudge" class="judgeJ">J</span><span ng-if="!volunteer.name">New Volunteer</span>
            <button ng-click="emailOneVolunteer(volunteer)" type="button" align = "right" class="btn btn-xs btn-primary group-item-mail"><span class="glyphicon glyphicon-envelope"></span></button>
          </a>
        </div>
      </div>

    </div>
  </div>
  </div>
</div>
