<div class="row">
  <div class="col-md-8">
    <form ng-submit="save()">
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="add()">Add a new volunteer</button>
        <button type="submit" class="btn btn-success">Save and continue</button>
      </div>

      <div class="list-group">
        <div class="list-group-item" ng-repeat="volunteer in schedule.unassigned">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="volunteer.name" />
          </div>

          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" ng-model="volunteer.email" />
          </div>

          <div class="form-group">
            <label>Phone number</label>
            <input type="text" class="form-control" ng-model="volunteer.phone" />
          </div>

          <div class="form-group">
            <label>Child Team(s)</label>
            <input type="text" class="form-control" ng-model="volunteer.childTeam" />
          </div>

          <div class="form-group">
            <button class="btn btn-danger" ng-click="remove($index)">Remove</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Import volunteers from CSV
      </div>

      <div class="panel-body">
        <form ng-submit="process()">
          <div class="form-group">
            <label for="csv">List of volunteers</label>
            <input type="file" id="csv" file-read="volunteerCSV" />
            <p class="help-block">Select a CSV file of volunteer information.</p>
          </div>

          <button type="submit" class="btn btn-primary">
            Import volunteers
          </button>
        </form>
      </div>
    </div>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        Import teams from CSV
      </div>

      <div class="panel-body">
        <form ng-submit="processTeams()">
          <div class="form-group">
            <label for="csv">Import Team Data</label>
            <input type="file" id="csv" file-read="teamCSV" />
            <p class="help-block">Select a CSV file of team information.</p>
          </div>

          <button type="submit" class="btn btn-primary">
            Import teams
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <form ng-submit="save()">
        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click="add()">Add a new volunteer</button>
          <button type="submit" class="btn btn-success">Save and continue</button>
        </div>

        <div class="list-group">
          <div class="list-group-item" ng-repeat="team in schedule.teams">
            <div class="form-group">
              <label>Number</label>
              <input type="text" class="form-control" ng-model="team.number" />
            </div>

            <div class="form-group">
              <label>Problems</label>
              <input type="email" class="form-control" ng-model="team.problems.problem" />
            </div>

            <div class="form-group">
              <label>Division</label>
              <input type="text" class="form-control" ng-model="team.problems.division" />
            </div>

            <div class="form-group">
              <label>Longt</label>
              <input type="text" class="form-control" ng-model="team.problems.longterm" />
            </div>
            <div class="form-group">
              <label>Spont</label>
              <input type="text" class="form-control" ng-model="team.problems.spontaneous" />
            </div>

            <div class="form-group">
              <button class="btn btn-danger" ng-click="remove($index)">Remove</button>
            </div>
          </div>
        </div>
      </form>
    </div> -->
  </div>
</div>
