.judgeJ{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F4A460;
  border-radius: 10px;
}

.hasJob{
  background-color: #D3D3D3;
}

.Fixed2
{
    position: fixed;
    top: 245px;
    width: 300px;
}

/*.btn-default{
  border-width: 1px;
  border-color:#000000;
}
