<div class="form-group">
  <label for="csv">List of volunteers</label>
  <input type="file" id="csv" file-read="volunteerCSV" />
  <p class="help-block">Select a CSV file of volunteer information.</p>
</div>

<button type="button" class="btn btn-primary" ng-click="process()">
    Display volunteer information
</button>
<form class="form-group" ng-submit="save()">
  <button type="submit" class="btn btn-success">Save and continue</button>
</form>
<div ng-if="schedule.unassigned.length">
  <h2>Volunteer names</h2>

  <div ng-repeat="volunteer in schedule.unassigned">
    Name: {{ volunteer.name}} email: {{ volunteer.email}} phone: {{ volunteer.phone }}
    username: {{ volunteer.username }} password: {{ volunteer.password }}
    constraints: {{volunteer.constraints}} (Should be empty array)
    comments: {{ volunteer.comments }} shirt: {{ volunteer.T-shirt }}
    positions: {{ volunteer.positions }} (should be empty array)
    preferences: {{volunteer.preferences}} (Should be empty array)
  </div>
</div>
