<form ng-submit="$parent.continue('schedule.edit')">
  <div class="form-group">
    <button type="submit" class="btn btn-success">Save and continue</button>
  </div>
</form>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Import volunteers
      </div>

      <div class="panel-body">
        <form ng-submit="process()">
          <div class="form-group">
            <label for="csv">List of volunteers</label>
            <input type="file" id="csv" file-read="volunteerCSV" />
            <p class="help-block">Select a CSV file of volunteer information.</p>
          </div>

          <button type="submit" class="btn btn-primary">
            Import volunteers
          </button>
        </form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Avoid team conflicts
      </div>

      <div class="panel-body">
        <form ng-submit="processTeams()">
          <div class="form-group">
            <label for="csv">Master schedule file</label>
            <input type="file" id="csv" file-read="teamCSV" />
            <p class="help-block">Select a CSV file of team information.</p>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              Import teams
            </button>
          </div>

          <div class="alert alert-success" ng-if="count(conflicts)">
            <strong>{{ count(conflicts) }} teams</strong> found.
          </div>

          <div class="form-group" ng-if="count(conflicts)">
            <button type="button" ng-click="addConstraints()" class="btn btn-primary">
              Add team constraints
            </button>
          </div>

          <div class="alert alert-danger" ng-if="unresolvables">
            <strong>FYI</strong>, {{ unresolvables }} child teams couldn't be
            found in the master schedule file.
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <a class="list-group-item" ng-repeat="volunteer in schedule.unassigned" ui-sref="schedule.input.detail({ volunteer: volunteer._id })" ui-sref-active="active">
        {{ volunteer.name }}
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div ui-view></div>
  </div>
</div>
