<div class="row">
  <div class="col-sm-6">
    <h3>Assignments</h3>
    <div class="list-group">
      <a class="list-group-item" ng-click="unassign(volunteer, slot)" ng-repeat="volunteer in slot.assigned">
        {{ volunteer.name }}
      </a>

      <a class="list-group-item disabled" ng-repeat="n in remainingPositions(slot) track by $index">
        Unassigned
      </a>
    </div>
  </div>

  <div class="col-sm-6">
    <h3>Unassigned volunteers</h3>
    <div class="list-group">
      <a class="list-group-item" ng-click="assign(volunteer, slot)" ng-repeat="volunteer in schedule.unassigned">
        {{ volunteer.name }}
      </a>
    </div>
  </div>
</div>
