a.list-group-item {
  cursor: pointer;
}

.hover-badge {
  display: none;
}

.list-group-item:hover .hover-badge {
  display: block;
}

.judgeJ{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #F4A460;
  border-radius: 10px;
}

.pref{
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #3c763d;
  border-radius: 10px;
}

.Fixed
{
    position: fixed;
    top: 245px;
    width: 300px;
}

.header{
  display: inline;
  clear:none;
}

#fixedScroll{
  height: 600px;
  overflow: scroll;
}
