<div class="row">
  <div class="col-sm-6">
    <div class="form-group" ng-show="schedule.unassigned.length">
      <input type="text" class="form-control" placeholder="Filter by name" ng-model="filter.name" />
    </div>

    <div class="alert alert-info" ng-hide="schedule.unassigned.length">
      No unassigned volunteers!
    </div>

    <div class="list-group">
      <a class="list-group-item" ng-click="assign(volunteer, slot)" ng-repeat="volunteer in schedule.unassigned| filter: filter track by $index| orderBy: 'name'">
        {{ volunteer.name }}
        <span ng-if="volunteer.isJudge" class="judgeJ">  J</span><span class="badge hover-badge">Assign →</span>
      </a>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="list-group Fixed">
      <a class="list-group-item" ng-click="unassign(volunteer, slot)" ng-repeat="volunteer in slot.assigned track by $index">
        {{ volunteer.name }}
      <span ng-if="volunteer.isJudge" class="judgeJ">  J</span>  <span class="badge hover-badge">← Unassign</span>
      </a>

      <div ng-if="slot">
        <a class="list-group-item disabled" ng-repeat="n in remainingPositions(slot) track by $index">
          Unassigned
        </a>
      </div>
    </div>
  </div>
</div>
