<div class="container" ng-if="nav.hasRole('organizer')">
  <div ng-repeat="schedule in schedules">
    <h2>
      <a ui-sref="schedule.input({ id: schedule._id })">{{schedule.name}}</a>
    </h2>

    {{schedule.info}}

    <ul>
      <li ui-sref-active="active">
        <a ui-sref="schedule.build({ id: schedule._id })">Build Schedule</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="schedule.input({ id: schedule._id })">Upload Volunteers</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="schedule.edit({ id: schedule._id })">Assign Volunteers</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="schedule.finalize({ id: schedule._id })">Finalize Schedule</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="schedule.view({ id: schedule._id })">View Schedule</a>
      </li>
    </ul>
  </div>

  <div ui-view></div>
</div>
